<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.matheus.cophat">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name="com.matheus.cophat.CophatApplication"
            android:allowBackup="false"
            android:hardwareAccelerated="true"
            android:label="${appLabel}"
            android:icon="${appIcon}"
            android:theme="@style/AppTheme">
        <activity android:name="com.matheus.cophat.feature.intro.activity.IntroActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:theme="@style/AppTheme.IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.matheus.cophat.feature.MainActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
    </application>

</manifest>